{% extends 'BOLayout.html.twig' %}

{% block title %}
  {{ parent() }}
  Enregistrement d'albums photo
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('ressources/vendor/css/form/select2.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('ressources/vendor/css/form/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('ressources/vendor/css/form/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('ressources/vendor/css/photo/bootstrap-fileinput.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<!-- BEGIN BREADCRUMBS -->
<div class="breadcrumbs">
  <h1>presentations</h1>
  <ol class="breadcrumb">
    <li>
      <a href="{{ path('homepage')}}">Accueil</a>
    </li>
    <li>
      <a href="#">Phototheque</a>
    </li>
    <li class="active">Enregistrement</li>
  </ol>
  <!-- Sidebar Toggle Button -->
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".page-sidebar">
    <span class="sr-only">Toggle navigation</span>
    <span class="toggle-icon">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </span>
  </button>
  <!-- Sidebar Toggle Button -->
  </div>
  <!-- END BREADCRUMBS -->
  <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
  <div class="page-content-container">
    <div class="page-content-row">
    <!-- BEGIN PAGE SIDEBAR -->
    <div class="page-sidebar">
      <nav class="navbar" role="navigation"></nav>
    </div>
    <!-- END PAGE SIDEBAR -->
    <div class="page-content-col">
      <!-- BEGIN PAGE BASE CONTENT -->
      <div class="row">
      <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet box blue">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-floppy-o fa-2x"></i> Formulaire d'enregistrement
          </div>
          <div class="tools"> </div>
        </div>
        <div class="portlet-body">

          <!--<form class="form-horizontal" method="post" >-->
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label class="control-label col-md-4">Album
                    <span class="required"> * </span>
                  </label>
                  <div class="col-md-8">
                    {{ form_widget(form.titre) }}
                    {{ form_errors(form.titre) }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Description</label>
                  <div class="col-md-8">
                    {{ form_widget(form.description)}}
                    {{ form_errors(form.description) }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Lien Facebook
                    <span class="required"> </span>
                  </label>
                  <div class="col-md-8">
                    {{ form_widget(form.url) }}
                    {{ form_errors(form.url) }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Photo</label>
                  <div class="col-md-8">
                    {{ form_widget(form.image) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3"></label>
              <div class="mt-checkbox-list col-md-6">
                <label class="mt-checkbox mt-checkbox-outline">
                  {{ form_widget(form.statut) }} Activez cette rubrique <span></span>
                </label>
              </div>
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-offset-5 col-md-4 text-right">
                  <input type="submit" class="btn blue" value="Enregistrer">
                </div>
              </div>
            </div>
            {{ form_end(form) }}
          </form>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
      </div>
      </div>
    <!-- END PAGE BASE CONTENT -->
    </div>
  </div>
</div>
<!-- END SIDEBAR CONTENT LAYOUT -->

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <!-- BEGIN PAGE LEVEL PLUGINS -->
  <script src="{{ asset('ressources/vendor/js/form/select2.full.min.js')}}" type="text/javascript"></script>
  <script src="{{ asset('ressources/vendor/js/form/jquery.validate.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('ressources/vendor/js/form/additional-methods.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('ressources/vendor/js/form/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('ressources/vendor/js/form/form-validation.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('ressources/vendor/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
  <script src="{{ asset('ressources/vendor/js/photo/bootstrap-fileinput.js') }}" type="text/javascript"></script>

  <!--<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>-->
  <script type="text/javascript">
    $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#appbundle_phototheque_image');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $lienAjout = $('<a href="#" id="ajout_photo" class="btn btn-primary">Ajouter une photo</a>');
    $container.append($lienAjout);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $lienAjout.click(function(e) {
      ajouterCategorie($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
    if (index == 0) {
      ajouterCategorie($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        ajouterLienSuppression($(this));
      });
    }

    // La fonction qui ajoute un formulaire Categorie
    function ajouterCategorie($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Photo n°' + (index+1))
                                                          .replace(/__name__/g, index));

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      ajouterLienSuppression($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function ajouterLienSuppression($prototype) {
      // Création du lien
      $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($lienSuppression);

      // Ajout du listener sur le clic du lien
      $lienSuppression.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
    });
  </script>


{% endblock %}
