{% for competition in competitions %}
    {% if competition.titre %}
    <div class="small-12 medium-3 columns">
      <!-- Meteo -->
      <div class="row teamstl-meteo">
        <div class="columns">
          <div id="cont_OTg3Nzl8NXwxfDF8NHxGRkZGRkZ8NnxGRkZGRkZ8Y3wx"><div id="spa_OTg3Nzl8NXwxfDF8NHxGRkZGRkZ8NnxGRkZGRkZ8Y3wx"><a id="a_OTg3Nzl8NXwxfDF8NHxGRkZGRkZ8NnxGRkZGRkZ8Y3wx" href="http://www.meteocity.com/cote-d-ivoire/yamoussoukro_v98779/" target="_blank" style="color:#333;text-decoration:none;">Météo Yamoussoukro</a> ©<a href="http://www.meteocity.com">meteocity.com</a></div><script type="text/javascript" src="http://widget.meteocity.com/js/OTg3Nzl8NXwxfDF8NHxGRkZGRkZ8NnxGRkZGRkZ8Y3wx"></script></div>
        </div>
      </div>
      <!-- \Meteo -->
      <!-- Photos -->
      <div class="row teamstl-photos">
        <div class="small-12 columns">
          <div class="titre">
            PGC en photos
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                <ul class="orbit-container">
                  <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                  <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                  <li class="is-active orbit-slide">
                    <img class="orbit-image" src="{{ asset('ressources/images/gallerie/01.JPG')}}" alt="Space">
                  </li>
                  <li class="orbit-slide">
                    <img class="orbit-image" src="{{ asset('ressources/images/gallerie/02.JPG')}}" alt="Space">
                  </li>
                  <li class="orbit-slide">
                    <img class="orbit-image" src="{{ asset('ressources/images/gallerie/03.JPG')}}" alt="Space">
                  </li>
                  <li class="orbit-slide">
                    <img class="orbit-image" src="{{ asset('ressources/images/gallerie/04.JPG')}}" alt="Space">
                  </li>
                  <li class="is-active orbit-slide">
                    <img class="orbit-image" src="{{ asset('ressources/images/gallerie/05.JPG')}}" alt="Space">
                  </li>
                  <li class="orbit-slide">
                    <img class="orbit-image" src="{{ asset('ressources/images/gallerie/06.JPG')}}" alt="Space">
                  </li>
                  <li class="orbit-slide">
                    <img class="orbit-image" src="{{ asset('ressources/images/gallerie/07.jpg')}}" alt="Space">
                  </li>
                  <li class="orbit-slide">
                    <img class="orbit-image" src="{{ asset('ressources/images/gallerie/08.jpg')}}" alt="Space">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- \Photos -->
    </div>
    {% endif %}
{% endfor %}
