{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imginitiations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Alt</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imgInitiation in imgInitiations %}
            <tr>
                <td><a href="{{ path('admin_imginitiation_show', { 'id': imgInitiation.id }) }}">{{ imgInitiation.id }}</a></td>
                <td>{{ imgInitiation.url }}</td>
                <td>{{ imgInitiation.alt }}</td>
                <td>{% if imgInitiation.statut %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_imginitiation_show', { 'id': imgInitiation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_imginitiation_edit', { 'id': imgInitiation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_imginitiation_new') }}">Create a new imgInitiation</a>
        </li>
    </ul>
{% endblock %}
