{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imgacademy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imgAcademy.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ imgAcademy.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ imgAcademy.alt }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if imgAcademy.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_imgacademy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_imgacademy_edit', { 'id': imgAcademy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
